*{
    font-family: "Barlow Semi Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: hsl(214, 17%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
}

main>section{
    display: grid;
    width: 70%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 18em 18em;
    gap: 2em;
    margin-top: 50px;
}

main>section>article{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 1em;
    box-shadow: 1px 2px 10px .2px black;
}

#art1{
    grid-column: span 2;
    background-color: hsl(263, 55%, 52%);
    color: white;
}

#art2{
    background-color:  hsl(219, 19%, 35%);
    color: white;
}

#art3{
    grid-row: span 2;
    background-color: white;
}

#art4{
    background-color: white;

}

#art5{
    grid-column: span 2;
    background-color: hsl(222, 29%, 14%);
    color: white;
}

img{
    position: absolute;
    width: 2%;
}

article>.profile{
    display: flex;
    gap: 2em;
}

article>.profile>div>img{
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    -ms-border-radius: 60%;
    -o-border-radius: 60%;
}

article>.profile>div>h5{
    font-weight: 300;
    margin-left: 2em;
}

article>.profile>div>h6{
    color: gold;
    font-weight: 300;
    margin-top: .5em;
    margin-left: 2.8em;
}


.content{
    margin-top: 1em;
}
article>.content>h3{
    color: white;
    font-weight: 600;
}

#art3>.content>h3,#art4>.content>h3{
    color: black;
}

#art3>.content>p,#art4>.content>p{
    color: black;}

#art3>.content>h5,#art4>.content>h5{
    color: black;
}

#art3>.content>h6,#art4>.content>h6{
    color: black;
}

.content{
    margin: 1em;
}

article>.content>p{
    font-weight: .8em;
    margin-top: 10px;
}

@media all and (max-width:375px){
    main>section{
    display: block;
    width: 90%;
}

    main>section>article{
        margin-top: 40px;

    img{
    position: absolute;
    width: 11%;
    margin-bottom: 33px;
}
}
}